# =========================
# ENV FILES
# =========================
.env
.env.*
*.env

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/

# =========================
# JAVA / SPRING
# =========================
target/
*.class
*.jar

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
venv/
.venv/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db